
/* RESET : we start editing after this reset block */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,dl,dt,dd,ol,nav ul,nav li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline;}
article, aside, details, figcaption, figure,footer, header, hgroup, menu, nav, section {display: block;}
ol,ul{list-style:none;margin:0px;padding:0px;}
blockquote,q{quotes:none;}
blockquote:before,blockquote:after,q:before,q:after{content:'';content:none;}
table{border-collapse:collapse;border-spacing:0;}
img{max-width:100%;}


/* GENERAL */
body {
  	font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color: #333333;
    font-size:1em;
}
a, a:hover, a:active, a:visited, a:focus {
    text-decoration:none;
}
a {
	color: #333;
}
.container { 
    	padding : 0px;
}

/* NAVBAR */
.navbar-custom {
	z-index: 1000;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 3;
	font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
.navbar-custom .navbar-brand {
	font-weight: 700;
}
.navbar-custom .navbar-header .navbar-toggle {
	color: #777777;
	font-weight: 800;
	text-transform: uppercase;
	font-size: 0.8em;
}
.navbar-custom .nav li a {
	text-transform: uppercase;
	font-size: 0.8em;
	font-weight: 800;
	letter-spacing: 1px;
}



/* HEADER */
.intro-header {
	background-color: #777777;
    background: no-repeat center center;
    background-attachment: scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}
.intro-header .site-heading, .intro-header .post-heading, .intro-header .page-heading {
    padding: 100px 0 50px;
    color: white;
}
hr.small {
    max-width: 100px;
    margin: 15px auto;
    border-width: 4px;
    border-color: white;
    border-width: 2px;
}



/* LEFT NAVBAR */
#sticky.fixed {
    display: block;
    position: fixed;
    top: 0;
}
.sidebar-wrapper {
    position: absolute;
    left: 0;
    width: 20%;
    height: 100%;
    background: #F0EFEE;
    -webkit-transition: all 0.4s ease 0s;
    -moz-transition: all 0.4s ease 0s;
    -ms-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
}
.sidebar-nav {
    top: 0px;
    margin: 0;
    padding: 75px 0px 0px;
    list-style: none;
}
.sidebar-nav li {
	font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	text-transform: uppercase;
    padding: 0% 5%;
	font-weight: 700;
	letter-spacing: 0.5px;
    color:#4f4f4f;
    font-size: 1em;
}
.sidebar-nav li a:hover {
    color: #0085A1;
    background: none;
}
.dropdown-menu {
	position : static;
	width: 100%;
	background-color: transparent;
	border: none;
	-webkit-box-shadow: none;
    box-shadow: none; 
    padding : 0px 0px 15px 0px;
}
.dropdown-menu>li>a {
    display: block;
    padding: 3px 0px; 
    white-space: normal;
}


/* ARTICLE SIDEBAR */
.article-sidebar {
    right: 0;
    position: absolute;
    width: 80%;
}
.poeme {
    padding: 50px 0px 0px 15px;
}
.intro-header .site-heading, .intro-header .page-heading {
	  text-align: center;
}
.post-preview {
	  color: #333333;
}
.post-preview > .post-title {
  	font-size: 1.8em;
 	 margin-top: 20px;
 	 margin-bottom: 10px;
}
.post-preview > .post-subtitle {
  	margin: 0;
  	font-weight: 300;
  	margin-bottom: 10px;
  	font-size: 1em;
}
.post-preview > .post-meta {
  	color: #777777;
  	font-style: italic;
  	margin-top: 20px;
	font-size: 0.8em;  	
}
.col-md-6 {
	padding:15px;
}


/* PROGRESS BAR for imagesLoaded*/
.progress-bar {
    background-color: #0BC20B;
    height: 2px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 0;
    box-shadow: 0 1px 3px rgba(11, 194, 11, 0.2);
    -webkit-transition: width 0.3s ease-out;
    -moz-transition: width 0.3s ease-out;
    -o-transition: width 0.3s ease-out;
    transition: width 0.3s ease-out;
}


/** INDEX : GRID CONTAINER: grille de posts utilisés dans l'index */
.content{
	padding-top: 50px;
	background-color: #F0EFEE;
}
.content-single-page{
	padding-top: 75px;
	background-color: #F0EFEE;
}
.wrap{
	width:80%;
	margin:0 auto;
}
#tiles {
    list-style-type: none;
    position: relative; /** Needed to ensure items are laid out relative to this container **/
    margin: 10px 0px 0px 0px;
    padding: 0;
}
#tiles li:hover img{
	opacity:0.8;
}
#tiles li {
 	width: 280px;
	background-color: #ffffff;
	border: 1px solid #dedede;
	border-radius: 2px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	display: none;
	cursor: pointer;
	border-radius: 0.2em;
}
#tiles li img{
	border-top-left-radius:0.2em;
	border-top-right-radius:0.2em;
}
#tiles li img {
 	display: block;
}
.post-basic-info{
	padding: 7% 7% 5% 7%;
}
.post-basic-info h3 {
	color: #717171;
	font-size: 1.5em;
	margin-bottom: 0.2em;
	display: block;
	transition:0.5s all;
	-webkit-transition:0.5s all;
	-moz-transition:0.5s all;
	-o-transition:0.5s all;
}
.post-basic-info span {
	color:#ACAAAA;
	font-size:1em;
}
.post-basic-info p{
	font-size: 0.9em;
	color: #B7B5B5;
	margin: 0.6em 0;
	line-height: 1.5em;
}


/* SINGLE PAGE */
.single-page {
	background: #fff;
	padding:2%;
}
.artical-content h3 {
	font: 400 28px/28px 'Open Sans', sans-serif;
	color: #626262;
	text-align: left;
	font-weight: 400;
	display: block;
	padding: 0.5em 0 0;
}
.artical-content p{
	font: normal 16px/26px 'Open Sans', sans-serif,Helvetica,sans-serif;
	color: #9b9b9b;
	padding: 8px 0px;
	font-weight: 400;
}
.artical-content img{
	width:100%;
}
.share-artical ul li{
	display:inline-block;
	padding-right:10px;
}
.share-artical ul li img{
	vertical-align: text-top;
	padding-right:7px;
}
.share-artical ul li a{
	font: 400 14px/22px  'Open Sans', sans-serif;
	color: #cbcbc3;
	padding-right: 20px;
	padding-left:0;
	font-weight: 400;
}
.share-artical ul li a:hover{
	color:#626262;
}
.share-artical{
	float:none;
	margin:0em 0 0 0;
	padding:0;
}


/* FOOTER */
footer {
  	padding: 25px 0 35px;
}
footer .list-inline {
  	margin: 0;
  	padding: 0;
}
footer .copyright {
	padding-top: 1em;
  	font-size: 0.8em;
  	text-align: center;
  	margin-bottom: 0;
}
#grey-footer {
	background-color: #F0EFEE; 
}


/* +1366px-monitors */
@media only screen and (max-width:1440px) and (min-width:1366px) {
	.wrap{
		width:85%;
	}
	.container {
		width: 1092px; 
	}
}

/* +1280px-monitors */
@media only screen and (max-width:1366px) and (min-width:1280px) {
	.wrap{
		width:90%;
	}
	.container {
		width: 1024px;
	}
}

/* +1024px-monitors */
@media only screen and (max-width:1280px) and (min-width:1024px) {
	.wrap{
		width:80%;
	}
	.container { 
		width: 820px;
	}
}

/* +768px-monitors */
@media only screen and (max-width:1024px) and (min-width:768px) {
	.sidebar-wrapper, #sticky.fixed  {
		display: none !important;
	}
	.article-sidebar {
    	width: 100%;
	}
	.wrap{
		width:90%;
	}
    .container { 
    	width: 614px; 
    }
}

/* +640px-monitors */
@media only screen and (max-width:768px) and (min-width:640px) {
	.intro-header .site-heading h1, .intro-header .page-heading h1 {
    	font-size: 50px;	
	}
	.intro-header .post-heading h1 {
  		font-size: 30px;
  		font-weight: 300;    
	}
	.sidebar-wrapper, #sticky.fixed  {
		display: none !important;
	}
	.article-sidebar {
    	width: 100%;
	}
	.container { 
		width: 512px; 
	}
	.wrap{
		width:90%;
	}
}

/* +480px-monitors */
@media only screen and (max-width:640px) and (min-width:480px) {
	.intro-header .site-heading h1, .intro-header .page-heading h1 {
    	font-size: 50px;
	}
	.intro-header .post-heading h1 {
  		font-size: 30px;
  		font-weight: 300;
	}
	.sidebar-wrapper, #sticky.fixed  {
		display: none !important;
	}
	.hr {
    	border: none;
    	height: 1px;
    }
	.article-sidebar {
    	width: 100%;
	}
	.container {
		width: 384px;
	}
	.wrap{
		width:90%;
	}
	.share-artical{
		float:none;
		margin:0em 0 0 0;
		padding:0;
	}
	.header {
		padding: 1em 0 0.6em;
	}
	.box {
		top: -12px;
	}
}

/* +320px-monitors */
@media only screen and (max-width:480px) and (min-width:240px) {
	.intro-header .site-heading h1, .intro-header .page-heading h1 {
    	font-size: 30px;
	}
	.intro-header .post-heading h1 {
  		font-size: 20px;
	}
	.sidebar-wrapper, #sticky.fixed  {
		display: none !important;
	}
	.article-sidebar {
    	width: 100%;
	}
	.container { 
		width: 256px;
	}
	.wrap{
		width:90%;
	}
	.share-artical ul li {
		display:block;
	}
	.userinfo {
		display:none;
	}
	.share-artical{
		float:none;
		margin:0em 0 0 0;
		padding:0;
	}
	.header {
		padding: 1em 0 0.6em;
	}
	.box {
		top: -12px;
	}
	.nav-icon {
		margin: 2.5% 12.8% 0 0%;
		float: right;
	}
}


/* MEDIA QURIES NAVBAR */
/* +1024px */
@media only screen and (min-width: 1024px) {
	.navbar-custom {	
	    -webkit-transition: background-color 0.3s;
	    -moz-transition: background-color 0.3s;
	    transition: background-color 0.3s;
	    -webkit-transform: translate3d(0, 0, 0);
	    -moz-transform: translate3d(0, 0, 0);
	    -ms-transform: translate3d(0, 0, 0);
	    -o-transform: translate3d(0, 0, 0);
	    transform: translate3d(0, 0, 0);
	    -webkit-backface-visibility: hidden;
	    backface-visibility: hidden;
	}
	.navbar-custom.is-fixed {
    /* when the user scrolls down, we hide the header right above the viewport */
		position: fixed;
    	top: -61px;
    	background-color: rgba(255, 255, 255, 0.9);
    	border-bottom: 1px solid #f2f2f2;
	    -webkit-transition: -webkit-transform 0.3s;
	    -moz-transition: -moz-transform 0.3s;
	    transition: transform 0.3s;
	}
	.navbar-custom.is-fixed .navbar-brand , .navbar-custom.is-fixed .nav li a {
    	color: #333333;
  	}
  	.navbar-custom.is-fixed .navbar-brand:hover, .navbar-custom.is-fixed .navbar-brand:focus {
    	color: #0085A1;
  	}
  	.navbar-custom.is-fixed .nav li a:hover, .navbar-custom.is-fixed .nav li a:focus {
    	color: #0085A1;
  	}
  	.navbar-custom.is-visible {
    /* if the user changes the scrolling direction, we show the header */
	    webkit-transform: translate3d(0, 100%, 0);
	    -moz-transform: translate3d(0, 100%, 0);
	    -ms-transform: translate3d(0, 100%, 0);
	    -o-transform: translate3d(0, 100%, 0);
	    transform: translate3d(0, 100%, 0);
  	}
    .navbar-custom.is-fixed {
    /* when the user scrolls down, we hide the header right above the viewport */
    	position: fixed;
    	top: -61px;
    	background-color: rgba(255, 255, 255, 0.9);
    	border-bottom: 1px solid #f2f2f2;
	    -webkit-transition: -webkit-transform 0.3s;
	    -moz-transition: -moz-transform 0.3s;
	    transition: transform 0.3s;
  	}
  	#navbar-single-page.is-fixed .nav li a:hover, #navbar-single-page.is-fixed .nav li a:focus {
    	color: #0085A1;
  	}  	
  	#navbar-single-page.is-fixed .navbar-brand:hover, #navbar-single-page.is-fixed .navbar-brand:focus {
    	color: #0085A1;
  	}  	
}

/* +768px */
@media only screen and (min-width: 768px) {
	.navbar-custom {
    	background: transparent;
    	border-bottom: 1px solid transparent;
    }
	.navbar-custom .navbar-brand {
    	color: white;
    	padding: 15px;
    }
	.navbar-custom .navbar-brand:hover, .navbar-custom .navbar-brand:focus {
    	color: rgba(255, 255, 255, 0.8);
    }
	.navbar-custom .nav li a {
    	color: white;
    	padding: 20px;
    }
	.navbar-custom .nav li a:hover, .navbar-custom .nav li a:focus {
    	color: rgba(255, 255, 255, 0.8);
    }
	.navbar-custom .nav li ul.dropdown-menu a {
    	color: #333333;
	}
	.navbar-custom .nav li ul.dropdown-menu a:hover, .navbar-custom .nav li ul.dropdown-menu a:focus {
    	color: #0085A1;
    }
	#navbar-single-page li a, #navbar-single-page .navbar-brand {
  		color: #333333;
	}
	#navbar-single-page .navbar-brand:hover, #navbar-single-page .navbar-brand:focus {
    	color: white;
    }
    #navbar-single-page .nav li a:hover, #navbar-single-page .nav li a:focus {
    	color: white;
    }
	.intro-header .site-heading, .intro-header .post-heading, .intro-header .page-heading {
    	padding: 150px 0;
  	}
	.intro-header .site-heading h1,	.intro-header .page-heading h1 {
  		margin-top: 0;
    	font-size: 60px;
	}
	.intro-header .site-heading .subheading, .intro-header .page-heading .subheading {
  		font-size: 24px;
  		line-height: 1.1;
  		display: block;
  		font-weight: 300;
  		margin: 10px 0 0;
	}
	hr.small {
	    border-width: 4px;
	}
	.post-preview > .post-title {
    	font-size: 2.1em;
  	}
  	.post-preview > .post-subtitle {
      	margin: 0;
      	font-weight: 300;
      	margin-bottom: 10px;
      	font-size: 1.2em;
    }
    .post-preview > .post-meta {
	  	color: #777777;
	  	font-style: italic;
	  	margin-top: 35px;
		font-size: 1em;  	
	}
	.post-basic-info h3 {
		font-size: 1.6em;
	}
	.post-basic-info span {
		font-size:1.2em;
	}
	.post-basic-info p{
		font-size: 1em;
	}
	.artical-content h3 {
		padding: 0.9em 0 0;
	}
	.artical-content p {
		padding: 17px 0px;
	}
	.share-artical ul li a ,.artical-links ul li a{
		padding-left: 20px;
		padding-right: 0px;		
	}
	.section-heading {
  		font-size: 36px;
  		margin-top: 60px;
  		font-weight: 700;
	}
	.caption {
  		text-align: center;
  		font-size: 14px;
  		padding: 10px;
  		font-style: italic;
  		margin: 0;
  		display: block;
  		border-bottom-right-radius: 5px;
  		border-bottom-left-radius: 5px;
	}
	.btn {
 		font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  		text-transform: uppercase;
  		font-size: 14px;
  		font-weight: 800;
  		letter-spacing: 1px;
  		border-radius: 0;
  		padding: 15px 25px;
	}
	.btn-lg {
  		font-size: 16px;
  		padding: 25px 35px;
	}
	.btn-default:hover, .btn-default:focus {
  		background-color: #0085A1;
  		border: 1px solid #0085A1;
  		color: white;
	}
	::-moz-selection {
  		color: white;
  		text-shadow: none;
  		background: #0085A1;
	}
	::selection {
  		color: white;
  		text-shadow: none;
  		background: #0085A1;
	}
	img::selection {
  		color: white;
  		background: transparent;
	}
	img::-moz-selection {
  		color: white;
  		background: transparent;
	}
	body {
	    -webkit-tap-highlight-color: #0085A1;
	}
}


