/* NAVBAR */
.navbar-fixed-top, .navbar-nav > li > .dropdown-menu  {
  background-color: rgba(0,0,0,0.5);
}
.nav.navbar-nav li a , .navbar-brand {
   color: white;
 }
.nav.navbar-nav a:hover, .navbar-brand:hover  {
 color: grey;
}
.navbar-toggle .icon-bar {
    background-color: white;
}

/* BANNER */
#banner{
  text-align: center;
  background-image: url(images/banner-index.jpg);
  -webkit-background-size: cover; /* pour anciens Chrome et Safari */
  background-size: cover;
  padding: 150px;
  color: white;
  text-shadow: 1px 1px 5px black;
}
#banner h1 {
  font-size: 50px;
}
#banner p {
  opacity: 0.8;
  font-size: 30px;
  font-weight: lighter;
}
.card{
  padding: 50px;
  font-weight: lighter;
  text-align: center;
}


